################################
## Windows
################################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

################################
## PhpStorm
################################
.idea
atlassian-ide-plugin.xml

################################
## Sublime Text
################################
*.sublime-workspace

################################
## Frontend structure
################################
_frontend/node_modules/
_frontend/bower_components/
_frontend/fractal/build/
assets/css/main.css
assets/js/app.js
