################################
###  macOS                   ###
################################

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

################################
###  Windows                 ###
################################

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

################################
###  JetBrains IDEs          ###
################################
.idea

################################
###  Sublime Text            ###
################################
*.sublime-workspace

################################
###  Visual Studio Code      ###
################################
.vscode

################################
###  Frontend                ###
################################
_frontend/node_modules/
_frontend/bower_components/
_frontend/fractal/build/
assets/css/main.css
assets/js/app.js
