$s: 0.3s;

$palettes: (
  grey: (
    light: #bfbfbf,
    base: #7f7f7f,
    dark: #404040,
  ),
  green: (
    base: #64b891
  ),
  red: (
    base: #f15f74
  ),
  yellow: (
    base: #e5e05b
  ),
  blue: (
    base: #52b0c6
  )
);

$fonts: (
  sans-serif: #{ helvetica, arial, sans-serif },
  serif: #{ Georgia, Times, serif }
);
