/**
 * Variables
 * =========
 */

$s: 0.3s;

$fonts: (
  sans-serif: #{'Helvetica Neue', 'Helvetica', 'Arial', sans-serif },
  serif: #{ 'Georgia', 'Times', 'Times New Roman', serif }
);

$palettes: (
  black: (
    base: #000,
  ),
  grey: (
    dark: #404040,
    base: #7f7f7f,
    light: #bfbfbf,
  ),
  white: (
    base: #fff,
  ),
);

$themes: (
  dark: (
    background-color: #000,
    color: #fff,
  ),
  light: (
    background-color: #fff,
    color: #000,
  ),
);
