// fonts
@font-face {
  font-family: 'Americus Script';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Americus/Americus Script.otf') format('opentype');
}

@font-face {
  font-family: 'Americus Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./../fonts/Americus/Americus Sans.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Apercu/Apercu.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu';
  font-style: italic;
  font-weight: 400;
  src: url('./../fonts/Apercu/Apercu-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 100;
  src: url('./../fonts/Apercu/Apercu-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu';
  font-style: italic;
  font-weight: 100;
  src: url('./../fonts/Apercu/Apercu-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Bourbon';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Bourbon/Bourbon.otf') format('opentype');
}

@font-face {
  font-family: 'Lovato';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Lovato/Lovato-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Lovato';
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/Lovato/Lovato-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'True North';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/True North/TrueNorth.otf') format('opentype');
}

@font-face {
  font-family: 'True North';
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/True North/TrueNorthBlack.otf') format('opentype');
}

@font-face {
  font-family: 'Newcastle';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Newcastle 1/FaceType - Newcastle Basic Clean.otf') format('opentype');
}

@font-face {
  font-family: 'Newcastle';
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/Newcastle 1/FaceType - Newcastle Combined Clean.otf') format('opentype');
}

@font-face {
  font-family: 'Lumier';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Lumier/Lumier Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Lumier';
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/Lumier/Lumier Bold.otf') format('opentype');
}
