@charset "UTF-8";

$s: .3s;

$cacheBreaker: random(900000000000) + 99999999999;

$palettes: (
  grey: (
    light: #bfbfbf,
    base:  #7f7f7f,
    dark:  #404040,
  )
);

$fonts: (
    sans-serif: #{ helvetica, arial, sans-serif },
    serif: #{ Georgia, Times, serif }
);