[data-page='Home'] {
  background: red;
}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {
  [data-page='Home'] {
    background: orange;
  }
}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {
  [data-page='Home'] {
    background: yellow;
  }
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
  [data-page='Home'] {
    background: green;
  }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
  [data-page='Home'] {
    background: blue;
  }
}
