.action {
  color: #000;
  background: palette(blue);
  padding-top: size($gutter * 2);
  padding-right: size($border);
  padding-bottom: size($safezone + $gutter);
  padding-left: size($border);

  strong {
    display: block;
    margin-bottom: 0.5em;

    &:empty {
      display: none;
    }
  }

  p {
    margin: 0;

    &:empty {
      display: none;
    }
  }

  &.permanent {
    color: #000;
    background: palette(yellow);
  }
}
