#placeholder {
  --dpi: 300;
  --scale: 1;

  padding: 5px;

  &.preview {
    --dpi: 72;
    --scale: 0.33333;
  }
}

.card {
  background: #000;
  color: #fff;
  display: flex;
  flex-flow: column;
  font: size($fontRegular) 'helvetica', 'arial', sans-serifs;
  line-height: 1.3333333333;
  height: size($cardH);
  justify-content: space-between;
  overflow: hidden;
  width: size($cardW);
  vertical-align: top;

  &--ends {
    background: #fff;
    color: #000;
  }

  &--events {
    background: palette(grey);
  }

  .preview & {
    display: inline-flex;
    margin: 5px;
  }
}

canvas {
  @extend %centered;
}
