html,
body {
  background-color: palette(white);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font: 400 #{10px}/#{$line-height} font(sans-serif);
}

body {
  font-size: $font-size;
}
