.scoreboard {
  font-family: font(bambino);
  font-size: size($fontScore);
  font-weight: 700;
  height: size(154px) + size($safezone) + size($gutter);
  padding-top: size($safezone + $gutter);
  padding-right: size($border);
  padding-bottom: size($gutter);
  padding-left: size($border);
  position: relative;
  width: 100%;
  z-index: 1;

  &__wrapper {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: size(154px);
    position: relative;
    width: 100%;
  }

  &__cell {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 25%;
  }

  &__point {
    $dimension: 151px;
    align-items: center;
    border-radius: 50%;
    background: palette(yellow);
    color: palette(black);
    display: flex;
    height: size($dimension);
    justify-content: center;
    text-align: center;
    width: size($dimension);

    &.positive {
      background: palette(green);
      color: palette(white);
    }

    &.negative {
      background: palette(red);
      color: palette(white);
    }

    &.neutral {
      background: transparent;
      color: transparent;
    }

    &.hole {
      $dimension: 141px;

      background: #fff;
      width: size($dimension);
      height: size($dimension);
      opacity: 0.25;

      .card--events & {
        background: #000;
      }
    }
  }
}
