<!doctype html>
<html lang="en">
<head>
  <!-- Metas -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Title -->
  <title>{{ _target.title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ path '/assets/css/main.css' }}">
</head>
<body>
  <div data-page="Default">
    {{{ yield }}}
  </div>

  <!-- JS -->
  <script src="{{ path '/assets/js/app.js' }}"></script>
</body>
</html>
